/*加载图片*/
.title{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/happy2017.png");
}
.sign{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/sign.png");
}
.head{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/person.png");
}
.arm{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/person_arm.png");
}
.bottom_img{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/rooster.png");
}
.page2{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/bg2.jpg");
}
.l1{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/light.png");
}
.l2{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/light.png");
}
.wish_sign{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/sign_src.png");
}
.txt1{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/txt1.png");
}
.txt2{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/txt2.png");
}
.txt3{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/txt3.png");
}
.circle{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/ripple.svg");
}
.cloud1{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/cloud1.png");
}
.cloud2{
	background-image: url("http://image.giccoo.com/projects/2017-new-year/img/cloud2.png");
}
