@import "common.scss";

@keyframes arm {
  0%{
    top: px(8);
  }
  50%{
    top: px(14);
  }
  100%{
    top:px(8);
  }
}
@keyframes light {
  0%{
    transform: rotate(-12deg);
    transform-origin:50% 0%;
  }
  50%{
    transform: rotate(12deg);
    transform-origin:50% 0%;
  }
  100%{
    transform: rotate(-12deg);
    transform-origin:50% 0%;
  }
}
@keyframes light2 {
  0%{
    transform: rotate(10deg);
    transform-origin:50% 0%;
  }
  50%{
    transform: rotate(-10deg);
    transform-origin:50% 0%;
  }
  100%{
    transform: rotate(10deg);
    transform-origin:50% 0%;
  }
}
@keyframes txt1Animate {
  0%{
    opacity: 0;
    transform: scale(0.2);
    transform-origin:50% 50%;
  }
  25%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  50%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  100%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
}
@keyframes txt2Animate {
  0%{
    opacity: 0;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  25%{
    opacity: 0;
    transform: scale(0.2);
    transform-origin:50% 50%;
  }
  50%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  100%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
}
@keyframes txt3Animate {
  0%{
    opacity: 0;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  25%{
    opacity: 0;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  50%{
    opacity: 0;
    transform: scale(0.2);
    transform-origin:50% 50%;
  }
  75%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
  100%{
    opacity: 1;
    transform: scale(1);
    transform-origin:50% 50%;
  }
}
@keyframes ball1 {
  0%{
    top:0;
    transform: scale(1);
  }
  5%{
    top:px(-30);
    transform: scale(1.4);
  }
  10%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball2 {
  10%{
    top:0;
    transform: scale(1);
  }
  15%{
    top:px(-30);
    transform: scale(1.4);
  }
  20%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball3 {
  20%{
    top:0;
    transform: scale(1);
  }
  25%{
    top:px(-30);
    transform: scale(1.4);
  }
  30%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball4 {
  30%{
    top:0;
    transform: scale(1);
  }
  35%{
    top:px(-30);
    transform: scale(1.4);
  }
  40%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball5 {
  40%{
    top:0;
    transform: scale(1);
  }
  45%{
    top:px(-30);
    transform: scale(1.4);
  }
  50%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball6 {
  50%{
    top:0;
    transform: scale(1);
  }
  55%{
    top:px(-30);
    transform: scale(1.4);
  }
  60%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball7 {
  60%{
    top:0;
    transform: scale(1);
  }
  65%{
    top:px(-30);
    transform: scale(1.4);
  }
  70%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball8 {
  70%{
    top:0;
    transform: scale(1);
  }
  75%{
    top:px(-30);
    transform: scale(1.4);
  }
  80%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball9 {
  80%{
    top:0;
    transform: scale(1);
  }
  85%{
    top:px(-30);
    transform: scale(1.4);
  }
  90%{
    top:0;
    transform: scale(1);
  }
}
@keyframes ball10 {
  90%{
    top:0;
    transform: scale(1);
  }
  95%{
    top:px(-30);
    transform: scale(1.4);
  }
  100%{
    top:0;
    transform: scale(1);
  }
}
@keyframes cloud1 {
  0%{
    left: px(700);
  }
  100%{
    left: px(-300);
  }
}
@keyframes cloud2 {
  0%{
    left: px(700);
  }
  100%{
    left: px(-300);
  }
}
